<header class="header" id="header">
	
	<div class="header__wrap wrap">

		<div class="header__menu menu">

			<ul class="menu__list">
				
				<li class="menu__item">
					<a href="#about" class="menu__href link js-goto">Описание проекта</a>
				</li>
				
				<li class="menu__item">
					<a href="#regions" class="menu__href link js-goto">Регионы</a>
				</li>
				
				<li class="menu__item">
					<a href="#docs" class="menu__href link js-goto">Законодательная база</a>
				</li>
				
				<li class="menu__item">
					<a href="#support" class="menu__href link js-goto">Поддержка Дневник.ру</a>
				</li>
				
				<li class="menu__item">
					<a href="#testimonials" class="menu__href link js-goto">Отзывы</a>
				</li>
			
			</ul> <!-- /.menu__list -->
						
		</div><!-- /.header__menu -->

		<div class="header__contacts header-contacts">

			<ul class="header-contacts__list">
				
				<li class="header-contacts__item">
			
					<div class="header-contacts__phone header-phone">
						
						<div class="header-phone__number">
							8 (812) 490-70-33
						</div><!-- /.header-phone__number -->
						
						<div class="header-phone__text">
							Служба поддержки
						</div><!-- /.header-phone__text -->

					</div><!-- /.header-phone -->
			
				</li> <!-- /.header-contacts__item -->
				
				<li class="header-contacts__item header-contacts__item--button">
			
					<a href="#order" class="button header-contacts__button js-goto">Участвовать</a>
			
				</li> <!-- /.header-contacts__item -->
			
			</ul> <!-- /.header-contacts__list -->
			
		</div><!-- /.header__contacts -->
	
	</div> <!-- /.header__wrap -->

</header> <!-- /.header -->




<section class="section home" id="home">
	
	<div class="home__wrap wrap">
		
		<div class="home__uptitle">
			 Федеральный Проект 
		</div><!-- /.home__uptitle -->

		<h2 class="section__title home__title">
			«Школа без бумажного журнала»
		</h2>
	
	</div> <!-- /.home__wrap -->

</section> <!-- /.home -->


<section class="section about" id="about">
	
	<div class="about__wrap wrap">
		
		<div class="about__numbers about-numbers">

			<ul class="about-numbers__list">
				
				<li class="about-numbers__item">
							
					<span class="about-numbers__number">
						70%
					</span><!-- /.about-numbers__number -->
					учителей считают, что переход на ББЖ способствует экономии бумажных носителей
			
				</li> <!-- /.about-numbers__item -->
				
				<li class="about-numbers__item">

					<span class="about-numbers__number">
						55%
					</span><!-- /.about-numbers__number -->
					родителей и учеников используют только электронный дневник
			
				</li> <!-- /.about-numbers__item -->
			
			</ul> <!-- /.about-numbers__list -->
			
		</div><!-- /.about__numbers -->

		<div class="about__content">

			<div class="about__text text">
				
				<p>
					Одно из важных направлений в сфере образования на текущий момент – переход общеобразовательных организаций на безбумажную форму учёта успеваемости и посещаемости.
				</p>
				
				<p>
					В 2012-2013 учебном году Дневник.ру запустил проект по переходу на электронный документооборот в 33-х общеобразовательных организациях 6 регионов РФ.
				</p>
				
				<p>
					Успешные итоги пилотного внедрения позволили значительно масштабировать проект. На сегодняшний день уже около 988 общеобразовательных организаций из 36 регионов РФ отказались от бумажных журналов и дневников в пользу электронных с Дневник.ру!
				</p>

			</div><!-- /.about__text -->
			
		</div><!-- /.about__content -->

	</div> <!-- /.about__wrap -->

</section> <!-- /.about -->


<section class="section regions" id="regions">
	
	<div class="regions__wrap wrap">

		<h2 class="section__title regions__title">
			1258 общеобразовательных организаций<br>
			в 39 регионах<br>
			<span class="regions__subtitle">уже отказались от бумажного журнала</span>
		</h2>

		<div class="regions__map map">

			<div class="map__svg-placeholder">
			
				@@include("../svg/map.html", {})

			</div><!-- /.map__svg-placeholder -->

			<div class="map__balloon map-balloon" id="map-ballon">

				<div class="map-balloon__title">
					
				</div><!-- /.map-balloon__title -->

				<div class="map-balloon__text">
					
				</div><!-- /.map-balloon__text -->
				
			</div><!-- /.map__baloon -->

		</div><!-- /.regions__map -->
	
	</div> <!-- /.regions__wrap -->

</section> <!-- /.regions -->



<section class="section docs" id="docs">
	
	<div class="docs__wrap wrap">

		<h2 class="section__title docs__title">
			Нормативная база
		</h2>

		<div class="docs__about">
			
			Учебное заведение
			самостоятельно
			выбирает, каким
			способом вести
			школьный журнал.

		</div><!-- /.docs__about -->

		<div class="docs__content">
			
			<ul class="docs__list">
				
				<li class="docs__item">
					
					<a href="http://zakon-ob-obrazovanii.ru/28.html" class="docs__href link" target="_blank">ФЗ № 273 от 29.12.2012 «Об образовании в Российской Федерации»</a> (Глава 3, статья 28) 

				</li> <!-- /.docs__item -->
				
				<li class="docs__item">
					
					<a href="http://kremlin.ru/acts/assignments/orders/copy/51143" class="docs__href link" target="_blank">Перечень поручений Президента Российской Федерации по итогам заседания Государственного совета Российской Федерации 23 декабря 2015 г. №Пр-15ГС от 02.01.2016 г.</a>

				</li> <!-- /.docs__item -->
				
				<li class="docs__item">
					
					<a href="https://help.dnevnik.ru/hc/ru/articles/220948927-%D0%9F%D0%B8%D1%81%D1%8C%D0%BC%D0%BE-%D0%9C%D0%B8%D0%BD%D0%B8%D1%81%D1%82%D0%B5%D1%80%D1%81%D1%82%D0%B2%D0%B0-%D0%BE%D0%B1%D1%80%D0%B0%D0%B7%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F-%D0%B8-%D0%BD%D0%B0%D1%83%D0%BA%D0%B8-%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B9%D1%81%D0%BA%D0%BE%D0%B9-%D0%A4%D0%B5%D0%B4%D0%B5%D1%80%D0%B0%D1%86%D0%B8%D0%B8-%D0%BE%D1%82-16-%D0%BC%D0%B0%D1%8F-2016-%D0%B3%D0%BE%D0%B4%D0%B0" class="docs__href link" target="_blank">Письмо Министерства образования и науки Российской Федерации от 16 мая 2016 года с рекомендациями по сокращению и устранению избыточной отчетности учителей</a>

				</li> <!-- /.docs__item -->
				
				<li class="docs__item">
					
					<a href="https://help.dnevnik.ru/hc/ru/articles/203475338-%D0%9E%D0%B1%D1%80%D0%B0%D0%B7%D0%B5%D1%86-%D0%BF%D1%80%D0%B8%D0%BA%D0%B0%D0%B7%D0%B0-%D0%BE-%D0%B2%D0%BD%D0%B5%D0%B4%D1%80%D0%B5%D0%BD%D0%B8%D0%B8-%D1%8D%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%BE%D0%BD%D0%BD%D0%BE%D0%B3%D0%BE-%D0%B6%D1%83%D1%80%D0%BD%D0%B0%D0%BB%D0%B0" class="docs__href link" target="_blank">Шаблоны документов по оформлению ББЖ</a> в ОО на Портале Поддержки.

				</li> <!-- /.docs__item -->
			
			</ul> <!-- /.docs__list -->

		</div><!-- /.docs__content -->
	
	</div> <!-- /.docs__wrap -->

</section> <!-- /.docs -->



<section class="section support" id="support">
	
	<div class="support__wrap wrap">

		<h2 class="section__title support__title">
			В рамках проекта команда Дневник.ру:
		</h2>

		<ul class="support__list">
			
			<li class="support__item support__item--1">
		
				<p>
					Предлагает дистанционное обучение навыкам работы в ИС «Дневник.ру».
				</p>
		
			</li> <!-- /.support__item -->
			
			<li class="support__item support__item--2">
		
				<p>
					Обеспечивает работоспособность и модернизирует функциональные возможности ИС «Дневник.ру».

				</p>
		
			</li> <!-- /.support__item -->
			
			<li class="support__item support__item--3">
		
				<p>
					Предоставляет выделенную линию поддержки пользователей с ускоренным временем обработки запросов.
				</p>
		
			</li> <!-- /.support__item -->
		
		</ul> <!-- /.support__list -->
	
	</div> <!-- /.support__wrap -->

</section> <!-- /.support -->


<div class="grey-bg">
	
	<section class="section benefits" id="benefits">
		
		<div class="benefits__wrap wrap">
	
			<h2 class="section__title benefits__title">
				Польза для школ
				<span class="benefits__data">
				По данным опроса по итогам 2015-2016 уч.г. среди ОО ББЖ.
				</span><!-- /.benefits__data -->
			</h2>			

			<ul class="benefits__list">
				
				<li class="benefits__item benefits__item--1">
			
					экономия времени учителя<br>
					на ведение журнала
			
				</li> <!-- /.benefits__item -->
				
				<li class="benefits__item benefits__item--2">
			
					экономия времени учителя<br>
					на подготовку отчётности
			
				</li> <!-- /.benefits__item -->
				
				<li class="benefits__item benefits__item--3">
			
					школ-участниц стали<br>
					экономить бумажные носители<br>
					информации
			
				</li> <!-- /.benefits__item -->
			
			</ul> <!-- /.benefits__list -->
		
		</div> <!-- /.benefits__wrap -->
	
	</section> <!-- /.benefits -->


	<section class="section testimonials" id="testimonials">
		
		<div class="testimonials__wrap wrap">
	
			<h2 class="section__title testimonials__title">
				Отзывы пользователей
			</h2>

			<div class="testimonials__columns">
				
				<div class="testimonials__column">
					
					<ul class="testimonials__list">
						
						<li class="testimonials__item testimonials-item">
					
							<div class="testimonials-item__image-placeholder">
								
								<img src="assets/images/testimonials/1.png" alt="image" class="testimonials-item__image">

							</div><!-- /.testimonials-item__image-placeholder -->

							<div class="testimonials-item__content">
								
								<div class="testimonials-item__name">
									Олег Королев, учитель
								</div><!-- /.testimonials-item__name -->

								<div class="testimonials-item__text text">

									<p>
										В электронном виде всё выполняется быстрее, и на отчеты тратится меньше времени.
									</p>
									
								</div><!-- /.testimonials-item__text -->

							</div><!-- /.testimonials-item__content -->
					
						</li> <!-- /.testimonials__item -->
						
						<li class="testimonials__item testimonials-item">
					
							<div class="testimonials-item__image-placeholder">
								
								<img src="assets/images/testimonials/2.png" alt="image" class="testimonials-item__image">

							</div><!-- /.testimonials-item__image-placeholder -->

							<div class="testimonials-item__content">
								
								<div class="testimonials-item__name">
									Надежда Петровна, учитель
								</div><!-- /.testimonials-item__name -->

								<div class="testimonials-item__text text">

									<p>
										Облегчает работу, не нужно<br>
										высчитывать итоговые отметки,<br>
										пропуски и т.п. <br>
										Стало меньше бумажной работы!<br>
										Выдача готовых отчетов!
									</p>
									
								</div><!-- /.testimonials-item__text -->

							</div><!-- /.testimonials-item__content -->
					
						</li> <!-- /.testimonials__item -->
						
						<li class="testimonials__item testimonials-item">
					
							<div class="testimonials-item__image-placeholder">
								
								<img src="assets/images/testimonials/3.png" alt="image" class="testimonials-item__image">

							</div><!-- /.testimonials-item__image-placeholder -->

							<div class="testimonials-item__content">
								
								<div class="testimonials-item__name">
									Анна Николаевна, родитель
								</div><!-- /.testimonials-item__name -->

								<div class="testimonials-item__text text">

									<p>
										Бумажная волокита не нужна ни родителям, ни учителям. Появилась возможность больше времени уделять детям.
									</p>
									
								</div><!-- /.testimonials-item__text -->

							</div><!-- /.testimonials-item__content -->
					
						</li> <!-- /.testimonials__item -->
					
					</ul> <!-- /.testimonials__list -->

				</div><!-- /.testimonials__column -->
				
				<div class="testimonials__column">
					
					<ul class="testimonials__list">
						
						<li class="testimonials__item testimonials-item">
					
							<div class="testimonials-item__image-placeholder">
								
								<img src="assets/images/testimonials/4.png" alt="image" class="testimonials-item__image">

							</div><!-- /.testimonials-item__image-placeholder -->

							<div class="testimonials-item__content">
								
								<div class="testimonials-item__name">
									Константин Михайлович, родитель
								</div><!-- /.testimonials-item__name -->

								<div class="testimonials-item__text text">

									<p>
										Полная информация о домашних заданиях, не надо в случае болезни названивать одноклассникам. <br>
										Еще до прихода ребенка из школы, знаю, что он получил. Возможность сравнить успеваемость с другими учениками.
									</p>
									
								</div><!-- /.testimonials-item__text -->

							</div><!-- /.testimonials-item__content -->
					
						</li> <!-- /.testimonials__item -->
						
						<li class="testimonials__item testimonials-item">
					
							<div class="testimonials-item__image-placeholder">
								
								<img src="assets/images/testimonials/5.png" alt="image" class="testimonials-item__image">

							</div><!-- /.testimonials-item__image-placeholder -->

							<div class="testimonials-item__content">
								
								<div class="testimonials-item__name">
									Сергей Павлович, учитель
								</div><!-- /.testimonials-item__name -->

								<div class="testimonials-item__text text">

									<p>
										Больше времени для подготовки к уроку, не надо заполнять БЖ, родители лучше контролируют своих детей.
									</p>
									
								</div><!-- /.testimonials-item__text -->

							</div><!-- /.testimonials-item__content -->
					
						</li> <!-- /.testimonials__item -->
						
						<li class="testimonials__item testimonials-item">
					
							<div class="testimonials-item__image-placeholder">
								
								<img src="assets/images/testimonials/6.png" alt="image" class="testimonials-item__image">

							</div><!-- /.testimonials-item__image-placeholder -->

							<div class="testimonials-item__content">
								
								<div class="testimonials-item__name">
									Дима Иващенко, ученик
								</div><!-- /.testimonials-item__name -->

								<div class="testimonials-item__text text">

									<p>
										Всегда можешь отследить свои успехи; увидеть, какому предмету стоит уделить больше внимания и т. п. Если забыл записать дз, все можно посмотреть в эл. дневнике.
									</p>
									
								</div><!-- /.testimonials-item__text -->

							</div><!-- /.testimonials-item__content -->
					
						</li> <!-- /.testimonials__item -->
					
					</ul> <!-- /.testimonials__list -->

				</div><!-- /.testimonials__column -->

			</div><!-- /.testimonials__columns -->
		
		</div> <!-- /.testimonials__wrap -->
	
	</section> <!-- /.testimonials -->


	<section class="section how" id="how">
		
		<div class="how__wrap wrap">
	
			<h2 class="section__title how__title">
				Как стать участником проекта:
			</h2>

			<ul class="how__list">
				
				<li class="how__item">
					Вы заполняете <a href="#order" class="link js-goto">форму заявки</a> ниже.
				</li> <!-- /.how__item -->
				
				<li class="how__item">
					Специалисты Дневник.ру консультируют вас и отправляют пакет документов и рекомендации по их заполнению для перехода на безбумажный вариант ведения журнала успеваемости обучающихся.
				</li> <!-- /.how__item -->
				
				<li class="how__item">
					Вы получаете доступ к выделенной линии поддержки пользователей с ускоренным временем обработки запросов.
				</li> <!-- /.how__item -->
			
			</ul> <!-- /.how__list -->
		
		</div> <!-- /.how__wrap -->
	
	</section> <!-- /.how -->

</div><!-- /.grey-bg -->


<section class="section order" id="order">
	
	<div class="order__wrap wrap">

		<h2 class="section__title order__title">
			Выберите удобный способ ведения<br>
			школьной документации!
		</h2>

		<div class="order__form order-form">
			
			<h3 class="order-form__title">
				Заявка на участие в проекте
			</h3><!-- /.order-form__title -->
			
			 @@if (server === "local"){

			<form action="https://formspree.io/bazhenov@company.dnevnik.ru" class="order-form__form form" method="post">

			}
			
			 @@if (server !== "local"){

			<form action="https://formspree.io/support-bbz@company.dnevnik.ru" class="order-form__form form" method="post">

			}
				
				<input type="hidden" name="_subject" value="Заявка участие в ББЖ">
				<input type="text" name="_gotcha" />
				<input type="text" name="_format" value="plain" />

				<div class="form__input-placeholder">
						
					<input type="text" class="form__input form__input--m required" id="fio" name="fio" placeholder="Ф.И.О." />

					<label class="form__label" for="fio">Ф.И.О.</label>
			
				</div> <!-- /.form__input-placeholder -->

				<div class="order-form__row">
			
					<div class="order-form__cell form__input-placeholder">
							
						<input type="text" class="form__input form__input--m required" id="region" name="region" placeholder="Регион" />

						<label class="form__label" for="region">Регион</label>
				
					</div> <!-- /.form__input-placeholder -->
			
					<div class="order-form__cell form__input-placeholder">
							
						<input type="text" class="form__input form__input--m required" id="city" name="city" placeholder="Населённый пункт" />

						<label class="form__label" for="city">Населённый пункт</label>
				
					</div> <!-- /.form__input-placeholder -->
					
				</div><!-- /.order-form__row -->

				<div class="order-form__row">
				
					<div class="order-form__cell form__input-placeholder">
							
						<input type="text" class="form__input form__input--m required" id="school" name="school" placeholder="Школа" />

						<label class="form__label" for="school">Школа</label>
				
					</div> <!-- /.form__input-placeholder -->
				
					<div class="order-form__cell form__input-placeholder">
						
						<input type="text" class="form__input form__input--m required" id="post" name="	post" placeholder="Должность" />

						<label class="form__label" for="post">Должность</label>
				
					</div> <!-- /.form__input-placeholder -->
					
				</div><!-- /.order-form__row -->
			
				<div class="form__input-placeholder">
						
					<input type="email" class="form__input form__input--m required email" id="email" name="email" placeholder="Электронная почта" />

					<label class="form__label" for="email">Электронная почта</label>
			
				</div> <!-- /.form__input-placeholder -->
				
				<div class="order-form__button-placeholder form__button-placeholder">
						
					<button type="submit" class="button button--yellow button--l" onClick="yaCounter17969140.reachGoal('Отправить_ББЖ')">Отправить</button>
			
				</div> <!-- /.form__button-placeholder -->

				<div class="order-form__success">
					
				</div><!-- /.order-form__success -->
			
			</form> <!-- /.form -->

		</div><!-- /.order__form -->
	
	</div> <!-- /.order__wrap -->

</section> <!-- /.order -->


<footer class="footer" id="footer">
	
	<div class="footer__wrap wrap">

		<div class="footer__social social">

			<ul class="social__list">
				
				<li class="social__item">
					
					<a href="http://vkontakte.ru/club19853844" class="social__href social__href--vk" target="_blank">vk</a>
					
				</li> <!-- /.social__item -->
				
				<li class="social__item">
					
					<a href="http://www.facebook.com/dnevnik.ru" class="social__href social__href--fb" target="_blank">fb</a>
					
				</li> <!-- /.social__item -->
				
				<li class="social__item">
					
					<a href="http://www.odnoklassniki.ru/dnevnik.ru" class="social__href social__href--ok" target="_blank">ok</a>
					
				</li> <!-- /.social__item -->
			
			</ul> <!-- /.social__list -->
			
		</div><!-- /.footer__social -->

		<div class="footer__content">
			
			<div class="footer__text text">
				По всем вопросам: &nbsp;&nbsp;&nbsp;&nbsp; 8 (812) 490-70-33 &nbsp;&nbsp;&nbsp;&nbsp; <a href="mailto:support-bbz@company.dnevnik.ru" class="inverselink">support-bbz@company.dnevnik.ru</a>
			</div><!-- /.footer__text -->

		</div><!-- /.footer__content -->
	
	</div> <!-- /.footer__wrap -->

</footer> <!-- /.footer -->
